*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: #FAF3DD; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
}



.dark-mode {
  background-color: #0a0a0a; 
}


.header {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background: #AED9E0;
    color: rgb(46, 42, 42);
    font-size: 40px;
}

.dark-mode .header { 
background: #26283b;
color: #eeecec
}

ul {
    list-style-type: none;
}



.leftcolumn {
    float: left;
    width: 75%;
    font-size: 20px;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 150px;
    font-size: 15px;
}


.centercolumn {
    float: center;
    width: 100%;
    text-align: center;
    
}

.card {
    padding: 20px;
    margin-top: 20px;
    background-color: #FFA69E;
    color: rgb(46, 42, 42);
    width: auto;
  max-width: auto;
  height: auto;
  text-align: center;
  font-size: 16px;
}

.dark-mode .card{
  background-color: #423e59;
  color: #eeecec
}

.aboutimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: right;
    margin-top: 20px;
    background: #AED9E0;
    font-size: 20px;
    color: #f8dccb;
}

.dark-mode .footer{
  background: #26283b;
  color: #eeecec
}

a{ color: rgb(226, 228, 217)}
a {font-size: 24px}
a:hover {
  color:aliceblue
}

.dark-mode a{
  color: #eeecec
}

.dark-mode a:hover {
  color: #0a0a0a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.grid-container {
  display: grid;
  column-gap: normal;
    align-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  background-color: #FFA69E;
  padding: 10px;
}

.dark-mode .grid-container{
  background-color: #423e59;
}


.site-name {
    display: flex;
 }
  
  .site-name img {
    width: 100px;
  }

  .site-name{
    flex: 1 0 auto;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
    color: #0a0a0a;
  }

  .dark-mode label {
    color: #eeecec
  }

.form-input {
    border: 5px solid #FFA69E; 
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
  }
  
  .dark-mode .form-input{
    border: 5px solid #746d9e
  }
  
  .form-input:focus {
    outline: none;
    border: 5px solid #AED9E0;
  }

  [type="submit"] {
    background: #FFA69E;
    color: rgb(46, 42, 42);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: none;
    border-radius: 10px;
    border: 0;
    padding: .5em;
    cursor: pointer;
  }

  .dark-mode [type="submit"] {
    background: #BAB6CE;
  }
  
  [type="submit"]:hover,
  [type="submit"]:focus {
    background: #AED9E0;
  }

textarea {
    height: 150px;
    resize: none;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    margin: -1em 0 1.5em;
}
 
  @media screen and (min-width: 1700px) {
    .form {
      width: 50%;
      margin: 3em auto;
    }
}

@media screen and (max-width: 1700px) {
    .header,
    .footer{
        clear: both;
    }
   .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
   
    }
   
    
    
}




